<template>
  <div class="HomePage">
    <h1 class="title has-text-centered">AirBlade UAV Superman 1905</h1>
    <h2 class="subtitle has-text-centered">{{ datasetTitle }}</h2>
    <ThrustChart
      :datasets="datasets"
      :modern="modern"
      :colors="colors"
    />
    <ThrustTable
      :datasets="datasets"
      :colors="colors"
      :colorClasses="colorClasses"
    />
  </div>
</template>

<script>
  import dataJson from '@/data.json'
  import ThrustChart from '@/components/ThrustChart'
  import ThrustTable from '@/components/ThrustTable'

  export default {
    name: 'HomePage',
    components: {
      ThrustChart,
      ThrustTable,
    },
    data() {
      return {
        modern: false, // false = 2-axis, true = 3-axis
        datasets: [],
        datasetTitle: "",
        colors: [ // also determines max number of datasets to render
          '#556270',
          '#4ECDC4',
          '#C7F464',
          '#FF6B6B',
          '#C44D58',
          '#000000'
        ],
        // this determines text and border colors
        colorClasses: [ // must match colors[] order, todo: convert to object
          'light',
          'dark',
          'dark',
          'light',
          'light',
          'light',
        ]
      }
    },
    created() {
      let whitelist = []

      // ---All 4"
      // whitelist = [
        // `AirbladeUAV Superman 1905 1,800Kv + Gemfan 4023-3 @ 4S`,
        // `AirbladeUAV Superman 1905 1,800Kv + Gemfan 4023-3 @ 6S`,
        // `AirbladeUAV Superman 1905 1,800Kv + HQProp T4x2.5 @ 4S`,
        // `AirbladeUAV Superman 1905 1,800Kv + HQProp T4x2.5 @ 6S`,
        // `AirbladeUAV Superman 1905 2,100Kv + Gemfan 4023-3 @ 4S`,
        // `AirbladeUAV Superman 1905 2,100Kv + Gemfan 4023-3 @ 6S`,
        // `AirbladeUAV Superman 1905 2,100Kv + HQProp T4x2.5 @ 4S`,
        // `AirbladeUAV Superman 1905 2,100Kv + HQProp T4x2.5 @ 6S`,
        // `AirbladeUAV Superman 1905 2,400Kv + Gemfan 4023-3 @ 4S`,
        // `AirbladeUAV Superman 1905 2,400Kv + Gemfan 4023-3 @ 6S`,
        // `AirbladeUAV Superman 1905 2,400Kv + HQProp T4x2.5 @ 4S`,
        // `AirbladeUAV Superman 1905 2,400Kv + HQProp T4x2.5 @ 6S`,
      // ]

      // 4S 4"
      this.datasetTitle = "4-inch props on 4S"
      whitelist = [
        `AirbladeUAV Superman 1905 1,800Kv + Gemfan 4023-3 @ 4S`,
        `AirbladeUAV Superman 1905 1,800Kv + HQProp T4x2.5 @ 4S`,
        `AirbladeUAV Superman 1905 2,100Kv + Gemfan 4023-3 @ 4S`,
        `AirbladeUAV Superman 1905 2,100Kv + HQProp T4x2.5 @ 4S`,
        `AirbladeUAV Superman 1905 2,400Kv + Gemfan 4023-3 @ 4S`,
        `AirbladeUAV Superman 1905 2,400Kv + HQProp T4x2.5 @ 4S`,
      ]

      // 6S 4"
      // this.datasetTitle = "4-inch props on 6S"
      // whitelist = [
      //   `AirbladeUAV Superman 1905 1,800Kv + Gemfan 4023-3 @ 6S`,
      //   `AirbladeUAV Superman 1905 1,800Kv + HQProp T4x2.5 @ 6S`,
      //   `AirbladeUAV Superman 1905 2,100Kv + Gemfan 4023-3 @ 6S`,
      //   `AirbladeUAV Superman 1905 2,100Kv + HQProp T4x2.5 @ 6S`,
      //   `AirbladeUAV Superman 1905 2,400Kv + Gemfan 4023-3 @ 6S`,
      //   `AirbladeUAV Superman 1905 2,400Kv + HQProp T4x2.5 @ 6S`,
      // ]

      // ---All 5"
      // whitelist = [
        // `AirbladeUAV Superman 1905 1,800Kv + Gemfan 5125-3 @ 4S`,
        // `AirbladeUAV Superman 1905 1,800Kv + Gemfan 5125-3 @ 6S`,
        // `AirbladeUAV Superman 1905 1,800Kv + HQProp T5x3 @ 4S`,
        // `AirbladeUAV Superman 1905 1,800Kv + HQProp T5x3 @ 6S`,
        // `AirbladeUAV Superman 1905 2,100Kv + Gemfan 5125-3 @ 4S`,
        // `AirbladeUAV Superman 1905 2,100Kv + Gemfan 5125-3 @ 6S`,
        // `AirbladeUAV Superman 1905 2,100Kv + HQProp T5x3 @ 4S`,
        // `AirbladeUAV Superman 1905 2,100Kv + HQProp T5x3 @ 6S`,
        // `AirbladeUAV Superman 1905 2,400Kv + Gemfan 5125-3 @ 4S`,
        // `AirbladeUAV Superman 1905 2,400Kv + HQProp T5x3 @ 4S`,
      // ]

      // 4S 5" mid to long-range explorer
      // this.datasetTitle = "4S 5-inch mid/long-range explorer builds"
      // whitelist = [
      //   `AirbladeUAV Superman 1905 1,800Kv + Gemfan 5125-3 @ 4S`,
      //   `AirbladeUAV Superman 1905 1,800Kv + HQProp T5x3 @ 4S`,
      //   `AirbladeUAV Superman 1905 2,100Kv + Gemfan 5125-3 @ 4S`,
      //   `AirbladeUAV Superman 1905 2,100Kv + HQProp T5x3 @ 4S`,
      // ]

      // 4S 5" ultralight racer
      // this.datasetTitle = "4S 5-inch ultralight racer builds"
      // whitelist = [
      //   `AirbladeUAV Superman 1905 2,400Kv + Gemfan 5125-3 @ 4S`,
      //   `AirbladeUAV Superman 1905 2,400Kv + HQProp T5x3 @ 4S`,
      // ]

      // 6S 5" ultralight racer
      // this.datasetTitle = "6S 5-inch ultralight racer builds"
      // whitelist = [
      //   `AirbladeUAV Superman 1905 1,800Kv + Gemfan 5125-3 @ 6S`,
      //   `AirbladeUAV Superman 1905 1,800Kv + HQProp T5x3 @ 6S`,
      //   `AirbladeUAV Superman 1905 2,100Kv + Gemfan 5125-3 @ 6S`,
      //   `AirbladeUAV Superman 1905 2,100Kv + HQProp T5x3 @ 6S`,
      // ]

      this.datasets = dataJson
        .filter(val => whitelist.includes(val.test))
        .slice(0, this.colors.length) // limit to # of colors
    }
  }
</script>
