<template>
  <div class="DefaultLayout">
    <section class="section">
      <div class="container">
        <RouterView name="page" />
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'DefaultLayout',
  }
</script>
