<template>
  <div class="ChartLegends">
    <ul>
      <li
        v-for="legend in legends"
        :key="legend.label">
        <span :style="{ backgroundColor: legend.color }"></span>
        <strong>{{ legend.label }}</strong>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'ChartLegends',
    props: {
      chartData: {
        type: Object,
        default: () => ({}),
      }
    },
    computed: {
      legends() {
        let uniqueLabels = []

        this.chartData.datasets.forEach((ds, index) => {
          if (index % 2 === 0) {
            uniqueLabels.push({
              label: ds.label,
              color: ds.backgroundColor,
            })
          }
        })

        return uniqueLabels
      }
    }
  }
</script>

<style lang="sass" scoped>
  .ChartLegends
    display: flex
    justify-content: center

    ul
      display: inline-block

      li
        display: flex
        margin-bottom: 10px

      span
        display: inline-block
        width: 24px
        height: 24px
        border-radius: 50%
        margin-right: 5px
</style>