<template>
  <div class="ThrustTable">
    <table
      class="table is-narrow"
      v-for="(data, index) in datasets"
      :key="index"
      :style="getStyles(index)"
      :class="[colorClasses[index]]"
    >
      <thead>
        <tr>
          <th colspan="4" class="has-text-centered">
            {{ shorten(data.test) }}
          </th>
        </tr>
        <tr>
          <th>Throttle</th>
          <th>Thrust</th>
          <th>Current</th>
          <th>Efficiency</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="row in data.results"
          :key="row[0]"
        >
          <td>{{ toThrottle(row[0]) }}%</td>
          <td>{{ toFriendly(row[1]) }}</td>
          <td>{{ toFriendly(row[2]) }}</td>
          <td>{{ toFriendly(calculateEfficiency(row[1], row[2], row[3])) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'ThrustTable',
    props: {
      datasets: {
        type: Array,
        default: () => [],
      },
      colors: {
        type: Array,
        required: true,
        default: () => []
      },
      colorClasses: {
        type: Array,
        required: true,
        default: () => []
      },
    },
    methods: {
      shorten(title) {
        return title
          .replace('AirbladeUAV Superman 1905 ', '')
          .replace('Gemfan ', 'GF')
          .replace('HQProp ', 'HQ')
      },
      toFriendly(float, decPt = 1) {
        return float.toFixed(decPt)
      },
      calculateEfficiency(thrust, current, voltage) {
        return thrust / (current * voltage)
      },
      toThrottle(us) {
        return (us - 1000) / 10
      },
      getStyles(index) {
        let width = 100

        switch (this.datasets.length) {
          case 2:
          case 4:
            width = 49
            break
          case 3:
          case 6:
            width = 32
            break
          default:
            width = 100
        }

        return {
          backgroundColor: this.colors[index],
          width: width + '%'
        }
      },
    }
  }
</script>

<style lang="sass">
  .ThrustTable
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

    table
      border-radius: 10px
      table-layout: fixed

      thead
        th
          text-align: center
          color: inherit

        tr:first-child
          th
            font-size: 16px

        tr:nth-child(2)
          th
            text-align: center

      th, td
        font-size: 13px
        text-align: center

      &.light
        color: #FFFFFF

        thead
          tr:first-child
            th
              border-color: white

        th, td
          border-color: rgba(255, 255, 255, 0.15)

      &.dark
        color: #363636

        thead
          tr:first-child
            th
              border-color: black

        th, td
          border-color: rgba(0, 0, 0, 0.15)
</style>