<template>
  <div class="ThrustChart">
    <div class="chartWrapper">
      <BarChart
        v-if="modern"
        class="barChart"
        :options="chartOptions"
        :chart-data="chartData"
      />
      <LineChart
        v-else
        class="lineChart"
        :options="chartOptions"
        :chart-data="chartData"
      />
      <div class="chartWatermark">KarlPablo.com</div>
    </div>
  </div>
</template>

<script>
  import LineChart from '@/pure-components/LineChart'
  import BarChart from '@/pure-components/BarChart'

  export default {
    name: 'ThrustChart',
    props: {
      datasets: {
        type: Array,
        default: () => [],
      },
      modern: {
        type: Boolean,
        default: true,
      },
      colors: {
        type: Array,
        required: true,
        default: () => []
      }
    },
    components: {
      LineChart,
      BarChart,
    },
    computed: {
      chartOptions() {
        const sharedChartOptions = {
          responsive: true,
          maintainAspectRatio: false,
          elements: {
            line: {
              fill: false,
              tension: 0.4,
              borderWidth: 2
            },
            rectangle: {
              borderWidth: 0,
            },
            point: {
              radius: 3,
              hoverRadius: 3,
              pointStyle: 'circle'
            }
          },
          legend: {
            display: false,
          },
        }

        const scalesToUse = this.modern ? {
          xAxes: [
            {
              id: 'escSignal-axis',
              type: 'linear',
              ticks: {
                stepSize: 100,
                min: 1200,
                max: 1800,
              },
              display: true,
              position: 'bottom',
              gridLines: {
                display: true
              },
              scaleLabel: {
                display: true,
                labelString: `ESC Signal (µs)`,
              },
            },
          ],
          yAxes: [
            {
              id: 'thrust-axis',
              type: 'linear',
              display: true,
              position: 'left',
              gridLines: {
                display: true,
              },
              labels: {
                show: false
              },
              scaleLabel: {
                display: true,
                labelString: 'Solid lines: Thrust (gf)',
              },
            },
            {
              id: 'current-axis',
              type: 'linear',
              display: true,
              position: 'right',
              gridLines: {
                display: false,
              },
              labels: {
                show: true
              },
              scaleLabel: {
                display: true,
                labelString: 'Dashed lines: Current (A)',
              },
            }
          ]
        } : {
          xAxes: [
            {
              id: 'thrust-axis',
              type: 'linear',
              display: true,
              position: 'bottom',
              gridLines: {
                display: true
              },
              scaleLabel: {
                display: true,
                labelString: `Thrust (gf)`,
                fontSize: 16,
              },
            },
          ],
          yAxes: [
            {
              id: 'current-axis',
              type: 'linear',
              display: true,
              position: 'left',
              gridLines: {
                display: true,
              },
              labels: {
                show: true
              },
              scaleLabel: {
                display: true,
                labelString: 'Current (A)',
                fontSize: 16,
              },
            }
          ]
        }

        return {
          ...sharedChartOptions,
          scales: scalesToUse,
        }

      },
      chartData() {
        const toFriendly = (float, decPt = 1) => {
          return float.toFixed(decPt)
        }

        // columns: 0 esc, 1 thrust, 2 current, 3 voltage
        let chartData = []
        this.datasets.forEach(val => {
          if (this.modern) {
            chartData.push({
              label: val.test,
              data: val.results.map(r => ({
                x: toFriendly(r[0]), // esc
                y: toFriendly(r[1]) // thrust
              })),
            })

            chartData.push({
              label: val.test,
              data: val.results.map(r => ({
                x: toFriendly(r[0]), // esc
                y: toFriendly(r[2]) // current
              })),
            })
          } else {
            chartData.push({
              label: val.test,
              data: val.results.map(r => ({
                x: toFriendly(r[1]), // thrust
                y: toFriendly(r[2]) // current
              })),
            })
          }
        }, [])

        return {
          datasets: chartData.map((row, index) => {
            const color = this.colors[this.modern ? parseInt(index / 2) : index]
            const isEven = index % 2 === 0

            let res = {
              ...row,
              type: 'line',
              borderColor: color,
              backgroundColor: color,
              pointBorderColor: color,
              pointBackgroundColor: color,
            }

            return this.modern ? {
              ...res,
              borderDash: isEven ? [] : [3],
              yAxisID: isEven ? 'thrust-axis' : 'current-axis'
            } : res
          })
        }
      }
    },
  }
</script>

<style lang="sass" scoped>
  .ThrustChart
    .chartWrapper
      position: relative
      margin-bottom: 20px

    .lineChart
      height: 500px
      position: relative
      z-index: 2

    .barChart
      height: 500px
      position: relative
      z-index: 2

    .chartWatermark
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%)
      color: black
      opacity: 0.05
      z-index: 1
</style>